/*
 *  File:         MaintenanceWindows.css
 *  Description:  CSS descriptions for the Maintenance Windows Dashboard
 *  Author:       Daniel Moran
 *  Created:      13 Sep 2013
 *  Language:     CSS
 *  Project:      MaintenanceWindows
 */

 
#dialog-modal, *[bigfixRole='topNavigation'], *[bigfixRole='topHeader'], #tabs {
	display:none;
}
.alert .ui-dialog-titlebar {
	display:none !important;
}

 
 #mwTablePlaceHolder {
	padding:3px;
	border-style:solid;
	border-width: 1px;
	border-color: #cccccc;
 }
 
 #mwTableHeader {
	background-color: #CEE3F6;
	margin:-3px;	
	margin-bottom:4px;
	font-weight: normal;
	padding: 6px;
	
	background: url('titlebg.png') repeat center right;
 }
 
 
 #mwMainDetailsSection {
	width:98%;
 }
 
#chart2 .jqplot-point-label {
  padding: 2px;
  background-color: white;
  font-size: 14px;	
}
 
 
.mwDetailsLabel {
	font-size: 9px;
	float:right;
}
.mwDetailsValue {
	font-size: 14px;
	font-weight: bold;
}

 
#mwSelectedDetails {
	border:2px solid #CEE3F6;
	padding:5px;
	margin-top:15px;
	background-color:#F5F6F7;
}
 
#mwSelectedHeader {
	height:25px;
}
 
#mwActions {
	border:1px solid #B2D4F5;
	margin:10px;
	padding:5px;
	margin-top:10px;
}

#mwActionsLabel {
	font-color:#8CA7C1;
}

#mwNameLabel {
	font-weight:bold;
	font-size:16px;
	float:left;
}
.mwLabelNotes {
	font-size:10px;
}


#mwCloseSelected {
	float:right;
	top:3px;
	right: 3px;	
} 

.dataTable-mwName {
	font-weight:bold;
	font-size:14px;	
}



 
 
 
 

.proserv-footer {
	width: 100%;
	padding: 0px;
	padding-top: 5px;
	font-weight: bold;
	margin-top: 3px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	font-size: 18px; 
	color: #555555;	
	font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
	text-align: center;
}
.proserv-footer a {
	color:#efefef;
	text-decoration: underline;
	cursor: pointer;
}
.proserv-footer a:hover {
	color:#898989;
	text-decoration: none;
}


.proserv-hidden-footer-link {
	color:black;
}

.highlight-day {
	background-color:#58ACFA;
}

#proserv-hidden-footer-title {
	text-align: left;
	background-color: #E0F2F7;
	margin-bottom:4px;
	font-weight: bold;
	padding: 8px;
	padding-left:10px;
	padding-right:10px;
	border: 1px solid #dedede;
 }

#proserv-hidden-text {
	padding-left:10px;
	padding-top:0px;
	padding-bottom:5px;
}
#proserv-hidden-text a {
	color:#101010;
	text-decoration: underline;
	cursor: pointer;
}
#proserv-hidden-text a:hover {
	color:#434343;
	text-decoration: none;
}
#proserv-hidden-footer {
	text-align: left;
	border: 2px solid #81DAF5;
	background:white;
	
	-webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.75);

}
